<link href="https://fonts.googleapis.com/css?family=Fira+Sans&display=swap" rel="stylesheet">

<div class="center-content">
    <picture class="left_to_right">
        <img src="../../../assets/pictures/latidos.jpg" alt="Pulsaciones" 
            width="1000px" height="400px">
    </picture>
</div>
<main>
    <section id="Bienvenidos">
        <h2>APRENDE A TOMAR TU PULSO EN 5 SENCILLOS PASOS</h2>
        <p>
            Aprende a tomarte el pulso, paso a paso, para dectectar 
            anomalidades y consultar a tiempo a tu medico.
            la manera correcta de tomarte el pulso incluye estos
            pasos:
        </p>
    </section>
</main>

<div class="center-content">
    <section id="blog">
        <div class="contenedor">
            <article>
                <img src="../../../assets/pictures/Paso_01.gif" alt="Pulsaciones" >
                <p>
                    1.toma un cronometro, un reloj con segundero,
                    o por ejemplo un celular con reloj en pantalla,
                    o cualquier otro artefacto que te permita medir
                    el tiempo en segundos y colocalo en un lugar 
                    donde puedas verlo con facilidad.
                </p>
            </article>
            <article>
                <img src="../../../assets/pictures/Paso_02.gif" alt="Pulsaciones" >
                <p>
                    2.Antes de tomarte el pulso,asegurate de estar
                    en estado de reposo por lo menos por 15 minutos,
                    ya sea sentado comodadamente o acostado(En reposo
                    significa no haber hecho ninguna actividad fisica
                    inmediatamente antes de tomarte el pulso ni haber
                    consumido tabaco o alcohol).
                </p>
            </article>
            <article>
                <img src="../../../assets/pictures/Paso_03.gif" alt="Pulsaciones" >
                <p>
                    3.Con los dedos indice y medio de una de tus manos,
                    encuentra el pulso en la muñeca de tu brazo contrario.
                </p>
            </article>
            <article>
                <img src="../../../assets/pictures/Paso_04.gif" alt="Pulsaciones" >
                <p>
                    4.Cuenta el numero de pulsaciones(latidos)que tienes en
                    un periodo de 30 segundos.
                </p>
            </article>
            <article>
                <img src="../../../assets/pictures/Paso_05.gif" alt="Pulsaciones" >
                <p>
                    5.Multiplica ese numero por dos para determinar cuantas
                    veces late tu corazon en un minuto y añadelo a la tabla
                    para calcular su ritmo cardiaco.
                </p>
            </article>
        </div>
    </section>
</div>